:root {
    --primary-color: #f18119;
    --secondary-color: #000000;
    --primary-font-color: #404040;
    --pure-whire: #fff;
    --primary-background: #ffe600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 18px;
}

.intro {
    font-size: 18px;
}

button {
    font-size: 14px;
}

nav {
    font-size: 14px;
    background-color: var(--secondary-color);
}
